@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.typekit.net/fdc7bql.css");

:root{
    --broedFont: 'roboto';
    --h1Font: 'active', sans-serif;
    --menuKortFont: 'roboto Slab';

    --pink: #EFA1D0;
    --moerkPink: #933E65;
    --groen: #BEF2C9;
    --lysGul: #FAF7D2;
    --lysBlaa: #E9E8ED;
    --tekstFarve: #080808;
    --baggrund: #FDFBEF;

    --h1Desktop: 5.5rem;
    --h1Mobile: 3rem;

    --h2Desktop: 2.5rem;
    --h2Mobile: 1.125rem;

    --h3MenuKort: 1.75rem;
    --h3MenukortWeight: 500;

    --h4MenuKort: 1.6rem;

    --h5: 1.5rem;

    --tekstStrDesktop: 1.125rem;
    --tekstStrMobil: 0.75rem;
    --breadCrumbs: 1rem;

    --paddingSectionsDesktop: 6.25rem;
    --paddingSectionsMobile: 3.125rem;

}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--broedFont);
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}
/*__________________Generel styling_______________*/
body{
    height: 100svh;
}
main{
    background-color: var(--baggrund);
    padding: 6rem 8rem;
}
main p{
    font-size: var(--tekstStrDesktop);
    max-width: 75ch;
    text-wrap: pretty;
    line-height: 1.7rem;
}

img,
video,
picture,
svg {
    height: auto;
    vertical-align: middle;
    font-style: italic;
}
 
.btn{
    background-color: var(--moerkPink);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    width: 10rem;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 16%);
    
}
.btn:hover{
    background-color: #b54b7c;
    transition: 0.2s ease;
}
.btn:active{
    background-color: var(--moerkPink);
}

/*-----------ikoner-------------*/
.card{
    color: red;
    font-weight: 100;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
/*-------------ikoner slut--------------*/

/*--------------Groen Sektion-----------------*/
.groenSektion{
    background-color: var(--groen);
    display: flex;
    width: 100vw;
    margin-left: -8rem;
    margin-bottom: -8rem;
}
.groenSektionKontakt, .groenSektionBookbord{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem;
}
.groenSektionKontakt, .groenSektionBookbord h4{
    font-size: var(--h4MenuKort);
}
.groenSektionKontakt p, .groenSektionBookbord p{
    padding: 0.8rem 0rem;
}



.engleUlla{
    aspect-ratio: 2/3;
    
    position: relative;
    left: -80px;
}
#engleUllaImg{
    width: 200px;
    transform: rotate(25deg);
    margin-top: 1rem;
    
    
    /* position: relative;
    z-index: 1;
    left: -40px; */
}
/*--------------Groen Sektion Slut-----------------*/

/*____________________Generel styling slut_____________________*/





/*______________________NAV________________________*/
nav{
    background-color: var(--pink);
    padding: 35px 50px;
    position: relative;
}
.logo{
    width: 10rem;
    position: absolute;
    top: 10px;
    left: 10px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    border-bottom: #EFA1D0;
    color: var(--tekstFarve);
    position: relative;
}
.activeNavA{
    text-decoration: underline;
    color: var(--moerkPink);
    text-underline-position: under;
    text-underline-offset: -2px;
    text-decoration-thickness: 2px;
}

/*---------linje under punkterne i nav------------*/
nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: var(--moerkPink);

    transform: scale(0, 1);
    transition: 0.3s ease;
}
nav a:hover::after{
    transform: scale(1, 1);
}
/*-------------------Slut-------------------*/

/*------------Sub Nav-------------------*/
.subNavContent{
    float: left;
    overflow: hidden;
    background-color: var(--pink);
    display: none;
    z-index: 1;
    position: absolute;
    padding: 0.5rem 0;
    font-size: 14px;
}
.subNav:hover .subNavContent{
    display: flex;
}
#subNavActive{
    display: flex;
}

/*----------------Sub Nav slut----------------------*/
/*______________________NAV SLUT________________________*/




/*_______________________FOOTER_______________________*/
footer{
    background-color: var(--pink);
    padding: 35px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerTitle{
    font-weight: 700;
}

.kontakt p, .aabningstider p{
  margin-bottom: 1rem;
}
.aabningstiderContainer{
    display: flex;
    gap: 1rem;
}
.andetInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#socialeMedier p, #smiley p{
    margin-bottom: 1rem;
}
#email, #mobil, #lokation{
    display: flex;
    gap: 1rem;
}
#socialeMedier a{
    color: var(--tekstFarve);
    font-size: 36px;
    margin-right: 1rem;
}

/*_______________________FOOTER SLUT_______________________*/

/*______________________FORSIDE__________________________*/
/*______________________FORSIDE SLUT__________________________*/

/*______________________BOOKBORD___________________________*/
/*______________________BOOKBORD SLUT___________________________*/


/*______________________EVENTS___________________________*/
/*______________________EVENTS SLUT___________________________*/

/*______________________GAVEKORT__________________________*/
/*______________________GAVEKORT SLUT__________________________*/

/*______________________KONTAKT__________________________*/
/*______________________KONTAKT SLUT__________________________*/

/*______________________MAD UD__________________________*/
/*______________________MAD UD SLUT__________________________*/

/*______________________MENU__________________________*/
/*______________________MENU SLUT__________________________*/

/*______________________MENU AFTEN__________________________*/
/*______________________MENU AFTEN SLUT__________________________*/

/*______________________MENU COCKTAILS__________________________*/
/*______________________MENU COCKTAILS SLUT__________________________*/

/*______________________MENU DRIKKE__________________________*/
/*______________________MENU DRIKKE SLUT__________________________*/

/*______________________MENU MIDDAG__________________________*/
/*______________________MENU MIDDAG SLUT__________________________*/

/*______________________MENU MORGEN__________________________*/
/*______________________MENU MORGEN SLUT__________________________*/

/*______________________MENU OEL__________________________*/
/*______________________MENU OEL SLUT__________________________*/

/*______________________MENU SOEDESAGER__________________________*/
/*______________________MENU SOEDESAGER SLUT__________________________*/

/*______________________MENU VIN__________________________*/
/*______________________MENU VIN SLUT__________________________*/

/*______________________MENU SELSKABER__________________________*/

.beskrivelseSelskaber {
    margin-bottom: 4rem;
}

.beskrivelseSelskaber h1 {
    font-size: var(--h1Desktop);
    color: var(--moerkPink);
    font-family: var(--h1Font);
}

.beskrivelseSelskaber h2, .groenSelskaberContainer h2 {
    font-size: var(--h2Desktop);
    color: var(--tekstFarve);
    margin-bottom: 2rem;
}

.contentSelskaber {
    margin-bottom: 5rem;
}

.containerSelskaber {
    display: flex;
    height: 40vh;
    margin-bottom: 2rem;
}

.imgSelskaber {
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.eventImg {
    object-position: center;
}

.selskabImg {
    object-position: left center;
}

.brunchImg {
    object-position: center 80%;
}

.facadeImg {
    object-position: 10% 60%;
}

.medarbejderImg {
    object-position: 10% 10%;
}

.blaaSektionSelskaber {
    background-color: var(--lysBlaa);
    padding: 1rem 4rem;
    border-radius: 0px 20px 20px 0px;
}

.blaaSektionSelskaber h2 {
    margin-bottom: 2rem;
}

.blaaSektionSelskaber a {
    color: var(--tekstFarve);
    font-size: 1.125rem;;
    line-height: 1.7rem;
}

.groenSelskaberContainer {
    display: grid;
    padding-left: 8rem;
    background-color: var(--groen);
    width: 100vw;
    height: 465px;
    grid-template-areas: 
    "overskrift personaleImg"
    "tekstafsnitGroen personaleImg"
    "groenKnap personaleImg";
    grid-template-columns: 1fr 2fr;
}

.personaleImg {
    grid-area: personaleImg;
}

#personalePaaUlla {
    width: 100%;
    height: 465px;
    object-fit: cover;
    object-position: center 40%;
}

.groenSelskaberContainer h2 {
    grid-area: overskrift;
    padding-top: 4rem;
    padding-right: 4rem;
    margin: 0;
}

.groenSelskaberContainer p {
    grid-area: tekstafsnitGroen;
    padding-right: 8rem;
}

.btnSelskaber {
    grid-area: groenKnap;
    height: 3rem;
}


@media screen and (max-width: 1400px) {
    .contentSelskaber {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 70vw;
    }

    .containerSelskaber {
        flex-direction: column;
        margin-bottom: 0;
        height: 55vh;
    }

    .imgSelskaber {
        border-radius: 20px 20px 0px 0px;
    }

    .containerSelskaber picture {
        max-height: 20rem;
    }

    .blaaSektionSelskaber {
        border-radius: 0px 0px 20px 20px;
    }

    /* .groenSelskaberContainer {
        padding-left: 4rem;
    } */

    .groenSelskaberContainer h2 {
        font-size: var(--h3MenuKort);
    }
    
    .groenSelskaberContainer p {
        padding-right: 2rem;
    }
    
}

@media screen and (max-width: 900px) {
    .beskrivelseSelskaber h1 {
        font-size: var(--h1Mobile);
    }

    main p {
        font-size: var(--tekstStrMobil);
        line-height: 1rem;
    }
    /* ÔBS SLETTES INDEN MECH */

    .beskrivelseSelskaber h2, .blaaSektionSelskaber h2, .groenSelskaberContainer h2 {
        font-size: var(--h2Mobile);
        margin-bottom: 0.5rem;
    }

    .blaaSektionSelskaber a {
        font-size: var(--tekstStrMobil);
    }

    .containerSelskaber {
        margin-bottom: 10rem;
    }



    .imgSelskaber {
        max-width: 70vw;
        max-height: 40vh;
    }


    .personaleImg {
        display: none;
    }

    .groenSelskaberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    }

}

@media screen and (max-width: 600px) {

}


/*______________________MENU SELSKABER SLUT__________________________*/


/* 600 og ned, telefoner, 900 og op, tablets, 1400 og op, laptops, 1920 og op, stor skærm