@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.typekit.net/fdc7bql.css");

:root{
    --broedFont: 'roboto';
    --h1Font: 'active', sans-serif;
    --menuKortFont: 'roboto Slab';

    --pink: #EFA1D0;
    --moerkPink: #933E65;
    --groen: #BEF2C9;
    --lysGul: #FAF7D2;
    --lysBlaa: #E9E8ED;
    --tekstFarve: #080808;
    --baggrund: #FDFBEF;

    --h1Desktop: 5.5rem;
    --h1Mobile: 3rem;

    --h2Desktop: 2.5rem;
    --h2Mobile: 1.125rem;

    --h3MenuKort: 1.75rem;
    --h3MenukortWeight: 500;

    --h4MenuKort: 1.6rem;

    --h5: 1.5rem;

    --tekstStrDesktop: 1.125rem;
    --tekstStrMobil: 0.75rem;
    --breadCrumbs: 1rem;

    --paddingSectionsDesktop: 6.25rem;
    --paddingSectionsMobile: 3.125rem;

}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--broedFont);
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}
/*__________________Generel styling_______________*/
body{
    height: 100svh;
}
main{
    background-color: var(--baggrund);
    padding: 6rem 8rem;
}
main p{
    font-size: var(--tekstStrDesktop);
    max-width: 75ch;
    text-wrap: pretty;
    line-height: 1.7rem;
}

img,
video,
picture,
svg {
    height: auto;
    vertical-align: middle;
    font-style: italic;
}
 
.btn{
    background-color: var(--moerkPink);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    width: 10rem;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 16%);
    
}
.btn:hover{
    background-color: #b54b7c;
    transition: 0.2s ease;
}
.btn:active{
    background-color: var(--moerkPink);
}

/*-----------ikoner-------------*/
.card{
    color: red;
    font-weight: 100;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}
/*-------------ikoner slut--------------*/

/*--------------Groen Sektion-----------------*/
.groenSektion{
    background-color: var(--groen);
    display: flex;
    width: 100vw;
    margin-left: -8rem;
    margin-bottom: -8rem;
}
.groenSektionKontakt, .groenSektionBookbord{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem;
}
.groenSektionKontakt, .groenSektionBookbord h4{
    font-size: var(--h4MenuKort);
}
.groenSektionKontakt p, .groenSektionBookbord p{
    padding: 0.8rem 0rem;
}



.engleUlla{
    aspect-ratio: 2/3;
    
    position: relative;
    left: -80px;
}
#engleUllaImg{
    width: 200px;
    transform: rotate(25deg);
    margin-top: 1rem;
    
    
    /* position: relative;
    z-index: 1;
    left: -40px; */
}
/*--------------Groen Sektion Slut-----------------*/

/*____________________Generel styling slut_____________________*/





/*______________________NAV________________________*/
nav{
    background-color: var(--pink);
    padding: 35px 50px;
    position: relative;
}
.logo{
    width: 10rem;
    position: absolute;
    top: 10px;
    left: 10px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
nav a{
    text-decoration: none;
    border-bottom: #EFA1D0;
    color: var(--tekstFarve);
    position: relative;
}
.activeNavA{
    text-decoration: underline;
    color: var(--moerkPink);
    text-underline-position: under;
    text-underline-offset: -2px;
    text-decoration-thickness: 2px;
}

/*---------linje under punkterne i nav------------*/
nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: var(--moerkPink);

    transform: scale(0, 1);
    transition: 0.3s ease;
}
nav a:hover::after{
    transform: scale(1, 1);
}
/*-------------------Slut-------------------*/

/*------------Sub Nav-------------------*/
.subNavContent{
    float: left;
    overflow: hidden;
    background-color: var(--pink);
    display: none;
    z-index: 1;
    position: absolute;
    padding: 0.5rem 0;
    font-size: 14px;
}
.subNav:hover .subNavContent{
    display: flex;
}
#subNavActive{
    display: flex;
}

/*----------------Sub Nav slut----------------------*/
/*______________________NAV SLUT________________________*/




/*_______________________FOOTER_______________________*/
footer{
    background-color: var(--pink);
    padding: 35px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerTitle{
    font-weight: 700;
}

.kontakt p, .aabningstider p{
  margin-bottom: 1rem;
}
.aabningstiderContainer{
    display: flex;
    gap: 1rem;
}
.andetInfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#socialeMedier p, #smiley p{
    margin-bottom: 1rem;
}
#email, #mobil, #lokation{
    display: flex;
    gap: 1rem;
}
#socialeMedier a{
    color: var(--tekstFarve);
    font-size: 36px;
    margin-right: 1rem;
}


/*_______________________FOOTER SLUT_______________________*/

/*______________________FORSIDE__________________________*/
/*______________________FORSIDE SLUT__________________________*/

/*______________________BOOKBORD___________________________*/
/*______________________BOOKBORD SLUT___________________________*/


/*______________________EVENTS___________________________*/
/*______________________EVENTS SLUT___________________________*/

/*______________________GAVEKORT__________________________*/
/*______________________GAVEKORT SLUT__________________________*/

/*______________________KONTAKT__________________________*/
/*______________________KONTAKT SLUT__________________________*/

/*______________________MAD UD__________________________*/
/*______________________MAD UD SLUT__________________________*/

/*______________________MENU__________________________*/

.breadcrumbs {
    list-style-type: none;
    display: flex;
    font-size: var(--breadCrumbs);
    margin-bottom: 2rem;
    padding: 0;
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--tekstFarve);
}

.breadcrumbs li {
    padding: 3px;
}

.fatOne {
    font-weight: 800;
}

.menuContainer {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
gap: 2rem;
margin-bottom: 2rem;
}

.menuContainer a {
    text-decoration: none;
    font-family: var(--h3Menukort);
    font-size: 2rem;
    color: var(--baggrund);
}

.menuContainer h3 {
    padding-bottom: 2rem;
}


#morgenMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/morgenmad.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/CafeUlla/photos/pb.100064734366849.-2207520000/5717039985041199/?type=3 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#middagMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/burger.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/CafeUlla/photos/pb.100064734366849.-2207520000/5717039985041199/?type=3 */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#aftenMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/aftensmad.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/CafeUlla/photos/pb.100064734366849.-2207520000/4376756692402875/?type=3 */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#soedeSagerMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/dessert.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Instagram. Meta 2024. Accessed 4/6/2024. URL: https://www.instagram.com/p/CDvFVwBjq9B/ */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#cocktailMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/cocktail.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/CafeUlla/photos/pb.100064734366849.-2207520000/5079860502092487/?type=3 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#drikkeMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/kakao.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/CafeUlla/photos/pb.100064734366849.-2207520000/1622773511134554/?type=3 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#oelMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/ol.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/photo.php?fbid=605207891647018&set=pb.100064734366849.-2207520000&type=3 */
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

#vinMenu {
    background-image: linear-gradient(rgba(124, 124, 124, 0) 50%, rgba(30, 30, 30, 0.8)), url("/assets/img/tilMenukort/vin1.jpeg");
    /* KILDE: Cafe Ulla Terkelsen London. Facebook. Meta 2024. Accessed 4/6/2024. URL: https://www.facebook.com/photo.php?fbid=641191611381979&set=pb.100064734366849.-2207520000&type=3 */
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

.menu {
    margin-top: 30px;
    margin-bottom: 80px;
}

.groenSektionMenu {
  height: 530px;
  padding: 4rem 2rem;
}

.groenSektionTakeaway {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5rem 8rem;
}

.groenSektionTakeaway h2 {
    font-size: var(--h2Desktop);
}

.groenSektionTakeaway p {
    padding: 0.8rem 0rem;
}

#kaffeToGo {
    position: relative;
    height: 530px;
    left: 3rem;
    bottom: 95px;
}

.btnTakeaway {
    width: 14rem;
    height: 3rem;
}

@media screen and (min-width: 600px) {



}

@media screen and (min-width: 900px) {



}

@media screen and (min-width: 1400px) {



}

@media screen and (min-width: 1920px) {



}

/*______________________MENU SLUT__________________________*/

/*______________________MENU AFTEN__________________________*/
/*______________________MENU AFTEN SLUT__________________________*/

/*______________________MENU COCKTAILS__________________________*/
/*______________________MENU COCKTAILS SLUT__________________________*/

/*______________________MENU DRIKKE__________________________*/
/*______________________MENU DRIKKE SLUT__________________________*/

/*______________________MENU MIDDAG__________________________*/
/*______________________MENU MIDDAG SLUT__________________________*/

/*______________________MENU MORGEN__________________________*/
/*______________________MENU MORGEN SLUT__________________________*/

/*______________________MENU OEL__________________________*/
/*______________________MENU OEL SLUT__________________________*/

/*______________________MENU SOEDESAGER__________________________*/
/*______________________MENU SOEDESAGER SLUT__________________________*/

/*______________________MENU VIN__________________________*/
/*______________________MENU VIN SLUT__________________________*/

/*______________________MENU SELSKABER__________________________*/
/*______________________MENU SELSKABER SLUT__________________________*/


/* 600 og ned, telefoner, 900 og op, tablets, 1400 og op, laptops, 1920 og op, stor skærm